body {
  margin: 0;

  font-family: arial;
  font-size: 100%;
}

.container {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;

  grid-template-rows: 70px 40px 1fr 40px;
  grid-template-columns: 4fr 1fr;

  grid-template-areas:
    'header header'
    'menu menu'
    'content sidebar'
    'footer footer';
}

.container > header,
.container > footer {
  background-color: navy;
  color: white;
}

.container > header {
  grid-area: header;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.container > nav {
  grid-area: menu;

  background-color: lightgray;
  color: black;
  padding-left: 10px;

  display: flex;
  align-items: center;
}

.container > nav > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.container > nav > ul > li {
  padding: 2px 6px;
  margin: 0;
}

.container > nav > ul > li > a,
.container > nav > ul > li > a:visited {
  color: black;
  text-decoration: none;
}

.container > nav > ul > li > a:hover {
  text-decoration: underline;
}

.container > main h2,
.container > aside h2 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: normal;
}

.container > main {
  grid-area: content;
  padding: 10px;
}

.container > aside {
  grid-area: sidebar;
  padding: 10px;
}

.container > footer {
  grid-area: footer;
  text-align: center;
  padding-top: 6px;
}

.container > footer > small {
  font-size: 0.8rem;
  /* font-size: 12.4px; */
}
